<h1><%= @color.name %></h1>
<ul>
<% @color.items.each do |item| %>
	<li>
		<a href=<%= "/items/#{item.id}" %>>
		<h3><%=item.name %></h3>
		<h4><%=item.brand.name %></h4>
		</a>
	</a>
	</li>
	<% end%>
</ul>