<h1>Items</h1>

<ul>
	<li class='add'><a href='/items/new'>+ Item</button></a></li>
	<% @items.each do |item| %>
	<li>
		<a href=<%= "/items/#{item.id}" %>>
		<h3><%=item.name %></h3>
		<h4><%=item.brand.name %></h4>
		</a>
	</a>
</li>
	<% end%>
</div>