<h1>Items</h1>
<a href='/items/new'><button>Add Item</button></a>
<div class='container'>
	<% @items.each do |item| %>
	<div class='item' >
		<a href=<%= "/items/#{item.id}" %>>
		<h3 class='uppercase'><%=item.name %></h3>
		<h4><%=item.brand.name %></h4>
		</a>
	</div>
	<% end%>
</div>