/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
 	font-family: 'Avenir';
 	margin: 0;
 	color: #3E31FF;
 	text-align: center;
 }

 h1 {
 	text-align: center;
 }

 h4 {
 	margin: 5px 0;
 	font-size: 14px;
 }

.item {
	border: 2px solid #3E31FF;
	margin: 10px 5px;
	padding: 10px;
	width: 200px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 10px auto;
	float: center;
}

.uppercase {
	text-transform: uppercase;
}

.form {
	display: flex;
	flex-direction: column;
}



nav {
	background-color: #3E31FF;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

nav a {
	text-transform: uppercase;
	font-size: 14px;
	color: white;
}

nav a:hover {
	color: #FFEBB1;
	transition: 0.2s;
}

a {
	text-decoration: none;
	color: #3E31FF;
}
button {
	color: #3E31FF;
	background-color: white;
	border: 2px solid #3E31FF;
	font-size: 16px;
	padding: 10px;
	border-radius: 10px;
}
button:hover {
	color: white;
	background-color: #3E31FF;
	transition: 0.5s;
	cursor: pointer;
} 

.single {
	margin: 50px;
	border: 2px solid #3E31FF;
}

form {
	text-align: left;
	width: 60vw;
	margin: auto;
}

input {
	border: 1px solid #3E31FF;
	font-size: 14px;
	border-radius: 2px;
	padding: 5px;
}

input[type="submit"] {
	border: 2px solid #3E31FF;
	color: #3E31FF;
	margin: 10px auto;
	border-radius: 10px;
}

select, option {
	padding: 5px;
	border: 1px solid #3E31FF;
	font-size: 14px;
	height: 30px;
}

input[type='submit'] {
	width: 200px;
	margin: 20px;
	height: 40px;
	background-color: white;
}


label {
	font-size: 12px;
	margin: 5px 0;
}

ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-start
	padding-left: 0;
	flex-wrap: wrap;
	list-style: none;
	text-align: center;
}

li {
	margin: 10px 5px;
	font-size: 18px;
	padding: 10px;
	width: 150px;
	background-color: white;
	border: 1px solid #3E31FF;
	display: flex;
	align-items: center;
	justify-content: center;
}

li:hover {
	background-color: #FFEBB1;
	transition: 0.4s;
	cursor: pointer;
}

li a {
 	color: #3E31FF
 }
